{% extends 'base3.html' %}
{% block content %}
<head>
<style>
    .centered-container {
        width: 500px;
        margin: 0 auto; /* Centers the container horizontally */
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ensures vertical centering if needed */
    }
</style>
</head>



<div class="container mt-3 w-6">
  <form method="post">
      {% csrf_token %}
      <div class="container w-6">
        <div class="centered-container">
            <h3>Enter your new password</h3><br>
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">New Password</label>
                <input type="password" name="new_password1" id="id_new_password1" 
                       class="form-control" placeholder="Enter your new password">
                {{ form.new_password1.errors }}
            </div>
    
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">New Password Confirmation</label>
                <input type="password" name="new_password2" id="id_new_password2" 
                       class="form-control" placeholder="Confirm your new password">
                {{ form.new_password2.errors }}
            </div>
    
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>
    
  </form>
</div>

{% endblock %}
